{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h1>Erreur interne</h1>
            <p class="color__lightgrey">Une erreur s'est produite.</p>
            <div class="margin-top">
                <a href="{{ path('homepage') }}">&larr; Retourner à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}