{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            {% endfor %}
            <h1>Mot de passe oublié</h1>
            <p class="color__lightgrey">Pour réinitialiser votre mot de passe, saisissez l'adresse mail utilisée lors de l'inscription.</p>
            {{ form_start(form) }}
                {{ form_row(form.email) }}
            <button type="submit" class="btn btn-warning" formnovalidate>Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
