{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1 class="color__yellow">Qui suis-je ?</h1>
            <h2>Ma carrière au cinéma</h2>
            <p class="color__lightgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis nec ipsum id rhoncus. Integer
                lacinia aliquam purus sed feugiat. Suspendisse lectus tellus, tincidunt vel tempor eget, egestas vel
                lorem. Nulla tempus ligula eget porttitor tincidunt. Nam tempor iaculis accumsan. Suspendisse lacinia
                luctus mauris, eu bibendum augue consequat tempor. Cras a metus iaculis, tincidunt nibh eget, blandit
                dui. Pellentesque fringilla quam vitae nulla viverra, vitae rhoncus nisl pellentesque. Sed egestas erat
                sed tortor maximus, id sollicitudin ligula lacinia. Vivamus pellentesque orci imperdiet, tempus nibh id,
                luctus mi. Nulla dictum libero felis, vel congue ligula tempus quis. Vestibulum ac ex urna. Suspendisse
                pulvinar et turpis id eleifend. Donec convallis urna urna, a tempus felis mattis sed. Integer lobortis
                blandit interdum.</p>
            <h2>Mes oeuvres littéraires</h2>
            <p class="color__lightgrey">Etiam faucibus, metus vitae suscipit volutpat, nisi quam tincidunt ex, auctor semper risus dolor non
                nibh. Sed rutrum laoreet lectus, sit amet fringilla ligula efficitur eu. Fusce vel vulputate massa, sed
                commodo sem. Nullam ultricies, sapien nec luctus iaculis, erat purus consequat justo, sed consectetur
                justo augue ut ipsum. Integer convallis libero ac risus laoreet pretium. Mauris eget mauris dignissim,
                eleifend lectus eget, pretium ipsum. Nullam sem felis, mattis sit amet tellus ut, suscipit molestie
                nisl. Mauris fermentum, risus sed varius lacinia, lectus lorem accumsan ex, posuere gravida urna purus
                at mauris. Duis quam elit, auctor quis mattis sed, bibendum a enim. Aliquam erat volutpat. Nunc viverra
                rhoncus risus, sit amet dignissim ligula sodales a. Nam malesuada sed lorem sit amet lobortis. Morbi
                fermentum maximus rutrum. Suspendisse vitae urna id ligula laoreet ullamcorper. Cras euismod vitae quam
                quis auctor.</p>
        </div>
    </div>
{% endblock %}
